* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

footer {
  height: 320px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
  border-left: 1px solid #CCCCCC;
  padding-left: 60px;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.hit_image {
  max-width: 180px;
  height: 100px;
  margin-right: 16px;
}

.ais-Hits-list {
  flex-direction: column;
}

.ais-Hits-item {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 12px 12px 12px 0;
}

.wrapper {
  display: flex;
}

.navbar-img,
.footer-img {
  width: 100%;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.sticky-div {
  width: 180px;
  height: 34px;
  background-color: rgb(255, 80, 65);
  position: fixed;
  bottom: 0;
  right: inherit;
  cursor: pointer;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 0.875rem;
  padding: 0.75rem;
  padding-left: 0;
  white-space: nowrap;
  z-index: 6;
  outline: none;
}

.arrow {
  width: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.aa-Form {
  flex-flow: row-reverse;
  padding-left: 10px;
  border: 1px solid #DDDDDD;
}

.aa-Label svg {
  width: 40px;
  color: #666666;
}

.ais-RefinementList {
  margin: 20px 0;
} 

.ais-RefinementList-list {
  margin-right: 40px;
}

.ais-RefinementList-item {
  border-bottom: 1px dotted #b2b2b2;
}

.ais-RefinementList-item--selected {
  color: #E72B1E;
  border: 2px solid red;
}

.ais-RefinementList-showMore {
  background-color: transparent;
  color: #E72B1E;
  opacity: .7;
  padding: 0;
}

.ais-RefinementList-showMore:hover {
  background-color: transparent;
  opacity: 1;
}

.ais-RefinementList-label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ais-RefinementList-checkbox {
  display: none;
}

.ais-RefinementList-count {
  background-color: transparent;
  opacity: .7;
}

.ais-ClearRefinements-button {
  background-color: transparent;
  color: #E72B1E;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.ais-ClearRefinements-button:hover {
  background-color: transparent;
}

.talks {
  font-size: 2rem;
  font-weight: 200;
}

.mobile-footer {
  width: 100%;
  display: none;
}

.mobile-navbar {
  width: 100%;
  display: none;
}

.views {
  font-size: .9rem;
}

.ais-RefinementList-labelText {
  text-transform: capitalize;
}

.ais-SearchBox-input {
  width: calc(100% - 42px);
}

.feed {
  color: white;
}

.sort-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #CCCCCC;
}

.dropbtn {
  display: none;
}

.ais-Pagination-link {
  padding: 0 6px;
  border-radius: 0;
  border: none;
  color: black;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  color: #E72B1E;
  background-color: transparent;
}

.ais-Pagination-item--selected:hover .ais-Pagination-link {
  color: black;
}

.ais-Pagination-link:hover {
  color: #E72B1E;
  background-color: transparent;
}

/* Media query */
@media (max-width: 850px) {
  .feed {
    display: none;
  }
  
  .sticky-div {
    padding: 0;
    width: max-content;
  }

  .mobile-footer,
  .mobile-navbar {
    display: block;
  }

  .footer-img,
  .navbar-img {
    display: none;
  }

  .search-panel__results {
    padding-left: 0;
    border-left: none;
  }

  .search-panel {
    display: block;
  }

  .hidden {
    display: none;
  }

  .dropbtn {
    display: block;
  }

  .ais-ClearRefinements-button {
    margin-top: 12px;
  }
  
}
